@charset "utf-8"; //设置中文字符

/* login部分 */

$container_width:1110px;
$bac_color:#f12e24;
$font_color:#505966;
$font-size:12px;
$t:text-decoration;
$n:none;
.login-container {
    width: $container_width;
    margin: 0 auto;
}

@mixin link($cl:#333, $hovercl:#666, $td:none) {
    color: $cl;
    &:hover {
        color: $hovercl;
        #{$t}: $td;
    }
}

@mixin postion($direction:left, $positionvalue:absolute, $value1:10px, $value2:10px) {
    @if ($direction==left) {
        position: $positionvalue;
        left: $value1;
        top: $value2;
    }
    @else {
        position: $positionvalue;
        right: $value1;
        bottom: $value2;
    }
}

@mixin border($path, $size: 1px, $type: solid, $color: #000) {
    @if $path==all {
        border: $size $type $color;
    }
    @else {
        border-#{$path}: $size $type $color;
    }
}

@mixin shadow($shadowx:1px, $shadowy:1px, $shadowz:1px, $shadowcl:#000) {
    -webkit-box-shadow: $shadowx $shadowy $shadowz $shadowcl;
    -moz-box-shadow: $shadowx $shadowy $shadowz $shadowcl;
    box-shadow: $shadowx $shadowy $shadowz $shadowcl;
}

%clearfix:after {
    content: '';
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
}

.login {
    input {
        width: 270px;
        height: 35px;
        text-align: left;
        padding-left: 10px;
    }
    .login-left {
        float: left;
    }
    .login-right {
        fieldset {
            padding: 50px;
            box-sizing: border-box;
            border: 5px solid #f7f7f7;
        }
        float: left;
        width: 360px;
        margin-left: 60px;
        div {
            height: 60px;
            margin-bottom: 20px;
            h3 {
                font-size: 14px;
                font-weight: bolder;
                margin-bottom: 6px;
            }
        }
        .rember {
            height: 30px;
            margin-top: 50px;
            margin-bottom: 10px;
            .rember-zc {
                margin-left: 10px;
                a {
                    color: #0080c6;
                }
            }
            input {
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }
        }
    }
    .login-wraper {
        @extend %clearfix;
        width: 870px;
        margin-left: 95px;
        padding: 50px 0 70px 0;
    }
}