@charset "utf-8"; //设置中文字符

/* shopcar部分 */

$container_width:1190px;
$bac_color:#f12e24;
$font_color:#505966;
$font-size:12px;
$t:text-decoration;
$n:none;
.shopcar-container {
    width: $container_width;
    margin: 0 auto;
    background-color: pink;
}

@mixin link($cl:#333, $hovercl:#666, $td:none) {
    color: $cl;
    &:hover {
        color: $hovercl;
        #{$t}: $td;
    }
}

@mixin postion($direction:left, $positionvalue:absolute, $value1:10px, $value2:10px) {
    @if ($direction==left) {
        position: $positionvalue;
        left: $value1;
        top: $value2;
    }
    @else {
        position: $positionvalue;
        right: $value1;
        bottom: $value2;
    }
}

@mixin border($path, $size: 1px, $type: solid, $color: #000) {
    @if $path==all {
        border: $size $type $color;
    }
    @else {
        border-#{$path}: $size $type $color;
    }
}

@mixin shadow($shadowx:1px, $shadowy:1px, $shadowz:1px, $shadowcl:#000) {
    -webkit-box-shadow: $shadowx $shadowy $shadowz $shadowcl;
    -moz-box-shadow: $shadowx $shadowy $shadowz $shadowcl;
    box-shadow: $shadowx $shadowy $shadowz $shadowcl;
}

%clearfix:after {
    content: '';
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
}

.shopcar {
    .cols1 {
        width: 443px;
    }
    .cols2 {
        width: 102px;
    }
    .cols3 {
        width: 165px;
        position: relative;
        min-height: 40px;
    }
    .cols4 {
        width: 100px;
    }
    .cols5 {
        width: 115px;
    }
    .cols6 {
        width: 147px;
        min-height: 40px;
    }
    .cols7 {
        width: 116px;
    }
    .shopcar-header {
        @extend %clearfix;
        .sl {
            float: left;
            .logo {
                position: relative;
                width: 200px;
                height: 70px;
                background: url(../images/bg.cart.main.png) no-repeat 0 -177px;
                .num {
                    position: absolute;
                    color: #fff;
                    width: 37px;
                    height: 29px;
                    text-align: center;
                    top: -2px;
                    left: 76px;
                    background: url(../images/bg.cart.main.png) no-repeat 0 -250px;
                    line-height: 29px;
                    font-family: Verdana, Geneva, sans-serif;
                }
            }
        }
        .sr {
            float: right;
            .step {
                width: 745px;
                height: 40px;
                background: url(../images/bg.cart.main.png) no-repeat;
                margin-top: 20px;
            }
        }
    }
    .shopcar-title {
        margin-top: 15px;
        .blue-line {
            width: 100%;
            height: 5px;
            background: url(../images/bg.cart.blue-line.gif) repeat-x;
        }
        .list {
            height: 39px;
            border-bottom: 1px solid #d7dfe5;
            background: #f7f7f7;
            font-size: 12px;
            line-height: 39px;
            color: #505966;
            span {
                float: left;
                text-align: center;
            }
        }
    }
}

.shopcar-main {
    width: 1188px;
    border: 1px solid #c6c9cc;
    font-family: Verdana, Geneva, sans-serif;
    .shopcar-product {
        width: 100%;
        border-bottom: 2px solid #686868;
        .block-title {
            height: 40px;
            width: 100%;
            .block-title-left {
                float: left;
                width: 1072px;
                height: 40px;
                border-right: 1px solid #d9d9db;
            }
        }
        .product-list {
            width: 1188px;
            height: 100%;
            @extend %clearfix;
        }
    }
}

.pll {
    width: 1072px;
    float: left;
    border-right: 1px solid #d6dadd;
    .listwraper {
        border-top: 1px solid #ebeef0;
        font-size: 12px;
        color: #505966;
        .list {
            @extend %clearfix;
            padding: 20px 0;
            position: relative;
            &>div {
                float: left;
            }
            .fl {
                float: left;
            }
            .pic {
                width: 60px;
                height: 60px;
                float: left;
                margin: 0 0 0 18px;
                border: 1px solid #fff;
            }
            .datail {
                float: left;
                min-height: 60px;
                max-height: 90px;
                height: auto;
                margin-left: 12px;
                width: 204px;
                .name {
                    line-height: 17px;
                    margin-top: 3px;
                    height: 17px;
                    width: 280px;
                    overflow: hidden;
                    em {
                        display: block;
                        float: left;
                        width: 57px;
                        height: 17px;
                        margin-right: 5px;
                        background: url(../images/bg.cart.tv-icon.png) no-repeat;
                    }
                }
                .info {
                    margin-top: 5px;
                    color: #84878c;
                }
                img {
                    width: 30px;
                    height: auto;
                    margin-top: 6px;
                }
            }
            .product-jf {
                margin: 25px 0 6px 15px;
                span {
                    float: left;
                    padding-left: 16px;
                    background: url(../images/bg.icon.2.1.gif) no-repeat;
                    line-height: 12px;
                }
            }
            .price {
                top: 22px;
                color: #505968;
                text-align: center;
            }
            .product-num {
                @extend %clearfix;
                margin-top: 18px;
                margin-left: 8px;
                span {
                    display: block;
                    text-align: center;
                    width: 25px;
                    height: 25px;
                    line-height: 25px;
                    background-color: #ccc;
                    font-size: 16px;
                    float: left;
                }
                input {
                    width: 38px;
                    border: 0;
                    outline: 0;
                    height: 25px;
                    padding: 0;
                    float: left;
                    text-align: center;
                }
            }
            .price-total {
                text-align: center;
                margin-top: 20px;
            }
            .buy-del {
                margin-left: 10px;
                margin-bottom: 10px;
                position: absolute;
                top: 25px;
                right: -35px;
            }
            .buy-now {
                display: block;
                width: 81px;
                height: 33px;
                background: url(../images/bg.cart.main.png) no-repeat 0 -355px;
            }
            .del {
                padding-left: 18px;
                background: url(../images/bg.cart.icons.png) no-repeat;
                background-position: 0 -23px;
            }
        }
    }
}

.plr {
    display: block;
    float: left;
    text-align: center;
    width: 114px;
    height: 100%;
    overflow: hidden;
    margin-top: 20px;
}

.keepshop {
    margin-top: 10px;
    height: 40px;
    a {
        width: 101px;
        height: 33px;
        float: left;
        background: url(../images/bg.cart.main.png) no-repeat -168px -354px;
        cursor: pointer;
    }
}

.shopcar-footer {
    margin: 10px auto 0;
    background: #f9f9f9;
    width: 1188px;
    height: 68px;
    border: 1px solid #d7dfe5;
    border-bottom-color: #9caebb;
    font-size: 12px;
    font-family: Verdana, Geneva, sans-serif;
    color: #505966;
}