@charset "UTF-8";
/* list部分 */
.list-container {
  width: 1110px;
  margin: 0 auto;
}

.list-container .shop-list:after, .shop-list-left .shop-list-hot .list-item .img img:after, .shop-list-right .layer-inner:after, .shop-list-right .shop-list-bar:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
}

.list-container {
  width: 1110px;
  margin: 0 auto;
}

.list {
  margin-top: 30px;
  padding-bottom: 20px;
}

.shop-list-left {
  width: 200px;
  float: left;
}
.shop-list-left .shop-list-category {
  width: 198px;
  margin-bottom: 20px;
  border: #d7d7d7 1px solid;
}
.shop-list-left .shop-list-category h3 {
  background: #f1f1f1;
  font-size: 14px;
  padding: 5px 0px 5px 10px;
  line-height: 20px;
  border-bottom: #d7d7d7 1px solid;
  font-weight: bold;
}
.shop-list-left .shop-list-category ul {
  padding: 5px 0px 5px 0px;
}
.shop-list-left .shop-list-category ul li {
  display: block;
  padding-left: 20px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
}
.shop-list-left .shop-list-hot {
  width: 200px;
  margin-bottom: 20px;
}
.shop-list-left .shop-list-hot h3 {
  background: #f1f1f1;
  font-size: 14px;
  padding: 5px 0px 5px 11px;
  line-height: 20px;
  border-top: #239ee2 2px solid;
}
.shop-list-left .shop-list-hot .list-item {
  width: 160px;
  padding: 10px 15px 10px 15px;
  font-size: 12px;
}
.shop-list-left .shop-list-hot .list-item .img {
  position: relative;
  height: 160px;
  text-align: center;
}
.shop-list-left .shop-list-hot .list-item .img img {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 160px;
  height: 160px;
}
.shop-list-left .shop-list-hot .list-item .title {
  margin: 2px 0px 2px 0px;
  height: 32px;
  line-height: 16px;
  overflow: hidden;
}
.shop-list-left .shop-list-hot .list-item em {
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  color: #e40000;
}

.shop-list-right {
  width: 900px;
  float: right;
  font-size: 12px;
  position: relative;
}
.shop-list-right .shop-list-bar {
  background: #f7f7f7;
  position: relative;
  border: #d7d7d7 1px solid;
  z-index: 1010;
}
.shop-list-right .shop-list-bar .shop-list-bar-left {
  float: left;
  padding: 5px;
  position: relative;
}
.shop-list-right .shop-list-bar .shop-list-bar-left .button {
  float: left;
  margin-right: 5px;
  background-color: #fff;
}
.shop-list-right .shop-list-bar .shop-list-bar-left .button p {
  border: #d4d4d4 1px solid;
}
.shop-list-right .shop-list-bar .shop-list-bar-left .button em {
  display: inline-block;
  font-size: normal;
  background: #fff;
  border: #fff 1px solid;
  background: url(../images/bg.imitatebutton1.on.gif) bottom right no-repeat;
}
.shop-list-right .shop-list-bar .shop-list-bar-left .button em a {
  display: block;
  zoom: 1;
  height: 16px;
  padding: 5px 16px 5px 16px;
  color: #9a948d;
  padding-right: 23px;
  background: url(../images/bg.icon.4.4.gif) right center no-repeat;
}
.shop-list-right .shop-list-bar .shop-list-bar-left .button:nth-child(2) em a {
  background: url(../images/bg.icon.4.3.gif) right center no-repeat;
}
.shop-list-right .shop-list-bar .shop-list-bar-left .button:last-child em a {
  background: url(../images/bg.icon.4.4.gif) right center no-repeat;
}

.render-list {
  padding: 10px 0 20px 10px;
  font-size: 12px;
}
.render-list .item {
  width: 160px;
  height: 360px;
  overflow: hidden;
  float: left;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 18px;
  padding-bottom: 20px;
}
.render-list .item .img {
  height: 214px;
}
.render-list .item .img a {
  position: relative;
  left: 0px;
  display: block;
  top: 0px;
  width: 190px;
  height: 214px;
}
.render-list .item .img a img {
  width: 160px;
  height: auto;
}
.render-list .item p {
  height: 16px;
  background: url(../images/bg.line.1.gif) left center repeat-x;
}
.render-list .item .title {
  margin: 2px 0px 2px 0px;
  height: 32px;
  line-height: 16px;
  text-align: left;
  font-size: 12px;
  overflow: hidden;
}
.render-list .item .price span {
  margin-right: 10px;
  padding-right: 8px;
  background: url(../images/bg.icon.6.1.gif) right center no-repeat;
}
.render-list .item .price em {
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  color: #e40000;
}
.render-list .item .buycar {
  width: 100%;
  height: 20px;
  margin-top: 10px;
  text-align: left;
  position: relative;
}
.render-list .item .buycar span {
  display: block;
  width: 76px;
  height: 18px;
  line-height: 18px;
  background: url(../images/bg.addtocart.gif);
  border: #d8d8d8 1px solid;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
}

.footer-top {
  padding-top: 50px;
}

/*# sourceMappingURL=list.css.map */
